<section id="abstract">
  <p>
This is a cross-vendor interoperability test suite for the 
<a href="https://github.com/IMSGlobal/openbadges-specification/">Open Badges v3 specification</a>.
  </p>
</section>
<section id="sotd">
  {{#each stats}}
  <p>
  {{this}}
  </p>
  {{/each}}

   <p>
The tests were performed by sending an Open Badges v3 compliant 
<a href="https://www.w3.org/TR/vc-data-model/">Verifiable Credential</a> to 
various issuers that implement the
<a href="https://w3c-ccg.github.io/vc-api/">Verifiable Credential API</a>.
   </p>
</section>

<section class="informative" id="conformance-testing-results">
  <h2> Conformance Testing Results </h2>
  <section class="informative" id="Key">
    <h3>Key</h3>
    <ul>
      <li>
✓ - Success
      </li>
      <li>
❌ - Error
      </li>
      <li>
— - Implementation explicitly does not support this feature
      </li>
    </ul>
  </section>

  <p>
  The results of the tests are shown below:
  </p>
</section>
